<%- include("partials/header",{names:names}); -%>

<h1>Create</h1>
<h2>Choose from the list below to edit existing courses</h2>
  <div class="form-group">
    <label class="craeteLabel">Course Name</label>
    <select class="form-control" name="selection" onchange="console.log(window.location.href='/create/'+this.value);">
      <% names.map(name=>{ %>
        <li><a class="dropdown-item second" href="/courses/<%= name %>"><%=  _.startCase(name) %></a></li>
        <option value=<%= name %>><%=  _.startCase(name) %></option>
      <%})%>
    </select>
  </div>
  <h2>Or enter a new course</h2>
  <form class="" action="/create/main" method="post">
  <div class="form-group">
    <label class="craeteLabel">Course Name</label>
    <input type="text" class="form-control" name="name"></input>
  </div>
  <div class="form-group">
    <label class="craeteLabel">Primary Course</label>
    <input type="text" class="form-control" name="primary"></input>
  </div>
  <div class="form-group">
    <label class="craeteLabel" for="">Enter secondary Urls(optional)</label><br>
    <input type="text" name="secondary[]" value="" /><br>
    <input type="text" name="secondary[]" value="" /><br>
    <input type="text" name="secondary[]" value="" /><br>
    <input type="text" name="secondary[]" value="" /><br>
  </div>
  <div class="form-group">
    <label  class="craeteLabel"for="">Enter references Urls each with it's img url (optional)</label><br>
    <input type="text" name="references[]" value="" /><input type="text" name="referencesimg[]" value="" /><br>
    <input type="text" name="references[]" value="" /><input type="text" name="referencesimg[]" value="" /><br>
    <input type="text" name="references[]" value="" /><input type="text" name="referencesimg[]" value="" /><br>
    <input type="text" name="references[]" value="" /><input type="text" name="referencesimg[]" value="" /><br>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
